  /* =============================================================================
      共通レイアウト
============================================================================= */


* {
  box-sizing: border-box
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  background-color: #fff;
  color: #0D253E;
  line-height: 1;
  font-size: 16px;
}

.common-container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.active {
  background: #FFCC01;
  box-shadow: 0 0 30px 10px rgb(255, 204, 1, 0.2);
}

.link-active:hover {
  background: rgb(255, 166, 1);
}

.color-active {
  color: #FFCC01;
  text-shadow: 0px 0px 20px #FFCC01;
}

.blue {
  background: #1E88F5;
  box-shadow: 0 0 30px 10px rgb(30, 136, 245, 0.2);
}

.link-blue:hover {
  background: rgb(30, 195, 245);
}

.color-blue {
  color: #1E88F5;
  text-shadow: 0px 0px 20px #1E88F5;
}

.height-99 {
  height: 99px;
}

a {
  text-decoration: none;
  color: #0D253E;
  transition: 0.5s;
}


/* =============================================================================
      header
============================================================================= */


header {
  height: 630px;
  background: linear-gradient(to bottom, rgba(14, 55, 97, 0.8), rgba(14, 55, 97, 0.2)),url("../images/Bitmap0.png") center / cover no-repeat;
  background: -moz-linear-gradient(top,  rgba(14, 55, 97, 0.8), rgba(14, 55, 97, 0.2)),url("../images/Bitmap0.png") center / cover no-repeat;
  background: -webkit-linear-gradient(top,  rgba(14, 55, 97, 0.8), rgba(14, 55, 97, 0.2)),url("../images/Bitmap0.png") center / cover no-repeat;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
}

.header-container nav {
  display: flex;
  justify-content: space-between;
  margin: 7px 24px 0;
  flex: 100%;
  align-self: flex-start;
}

.header-container ul {
  display: flex;
}

.header-container img {
  width: 100%;
}

.header-container ul li {
  flex: 1;
}

.header-container nav a {
  display: inline-block;
  width: 167px;
  height: 56px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 19px 36px;
}

.header-body {
  margin: -50px auto 0;
  text-align: center;
  flex: 100%;
}

h1 {
  font-size: 48px;
  color: #fff;
  line-height: 54px;
  text-align: center;
  margin-bottom: 40px;
}

.btn1 {
  display: inline-block;
  width: 337px;
  height: 64px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 22px 43px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  color: #fff;
}


/* =============================================================================
      main-head
============================================================================= */


#main-head {
  height: 248px;
}

.main-head-container {
  margin: 0 auto;
  padding: 60px 0 98px;
  text-align: center;
}

.main-head-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 24px;
}

.main-head-subtitle {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  opacity: 0.4;
}


/* =============================================================================
      main-body
============================================================================= */


#main-body {
  height: 645px;
  background: linear-gradient(to top, rgba(14, 55, 97, 0.6), rgba(14, 55, 97, 0.4)),url("../images/Bitmap1.png") center / cover no-repeat;
  background: -moz-linear-gradient(bottom,  rgba(14, 55, 97, 0.6), rgba(14, 55, 97, 0.4)),url("../images/Bitmap1.png") center / cover no-repeat;
  background: -webkit-linear-gradient(bottom,  rgba(14, 55, 97, 0.6), rgba(14, 55, 97, 0.4)),url("../images/Bitmap1.png") center / cover no-repeat;
}

.main-body-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main-body-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 38px;
}

.main-body-left-title {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 32px;
  color: #fff;
  text-align: center;
}

.main-body-right {
  position: relative;
  top: -5%;
  -ms-transform: translate(0,-5%);
  -webkit-transform: translate(0,-5%);
  transform: translate(0,-5%);
}

.main-body-card {
  margin: 10px 0;
  padding: 55px 59px;
  width: 660px;
  height: 230px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 60px 10px rgb(0, 0, 0, 0.1);
}

.main-body-card-title {
  font-size: 30px;
  margin-bottom: 24px;
}

.main-body-card-text {
  font-size: 22px;
  line-height: 32px;
  opacity: 0.4;
}


/* =============================================================================
      main-foot
============================================================================= */


#main-foot {
  height: 1369px;
}

.main-foot-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 85px 0 175px;
  text-align: center;
}

.main-foot-top {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

.main-foot-card {
  margin: 0 30px;
  width: 510px;
  height: 743px;
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  background: #fff;
  box-shadow: 0 2px 30px 10px rgb(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 508px;
  height: 250px;
  border-radius: 4px 4px 0 0;
}

.card-header-title {
  font-size: 60px;
  color: #fff;
}

.card-header-subtitle {
  display: block;
  font-size: 28px;
  margin-bottom: 13px;
}

.card-body {
  height: 493px;
  padding: 49px 60px;
}

.card-body-text {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  margin: 17px 0;
  opacity: 0.9;
}

.card-body-mark {
  font-size: 22px;
  line-height: 30px;
  margin-right: 40px;
}

.btn2 {
  display: inline-block;
  width: 390px;
  height: 64px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 22px 80px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  color: #fff;
}

.main-foot-bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main-foot-content {
  width: 264px;
  height: 306px;
  margin: 0 67.5px;
}

.content-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background: #F4F8FC;
  border-radius: 50%;
  position: relative;
  transition: all 1s;
}

.rotateY360 {
  transform: rotateY(360deg);
}

.position-center {
  position: absolute;
  top: 26%;
  right: 48%;
  -ms-transform: translate(48%,26%);
  -webkit-transform: translate(48%,26%);
  transform: translate(48%,26%);
}

.position-rightup {
  position: absolute;
  top: -8%;
  right: -18%;
  -ms-transform: translate(-18%,-8%);
  -webkit-transform: translate(-18%,-8%);
  transform: translate(-18%,-8%);
}

.content-text {
  margin-top: 29px;
}

.content-text-title {
  font-size: 23px;
  margin-bottom: 9px;
}

.content-text-letter {
  font-size: 22px;
  line-height: 30px;
  opacity: 0.4;
}


/* =============================================================================
      footer
============================================================================= */


footer {
  height: 308px;
  border-top: 1px solid #D8D8D8;
}

.footer-common-container {
  max-width: 1062px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px 0;
}

.footer-container ul {
  display: flex;
  margin-bottom: 48px;
}

.footer-container ul li {
  display: flex;
  flex-direction: column;
  margin-right: 190px;
}

.footer-container img {
  width: 100%;
}

.footer-container a {
  margin-bottom: 22px;
  font-size: 18px;
  opacity: 0.25;
}


/* =============================================================================
      レスポンシブデザイン（スマートフォンサイズ：７６８px）
============================================================================= */

@media screen and (max-width: 768px) {

  body {
    font-size: 13px;
  }

}